 .slide-in-down.mui-enter, .slide-in-left.mui-enter, .slide-in-up.mui-enter, .slide-in-right.mui-enter, .slide-out-down.mui-leave, .slide-out-right.mui-leave, .slide-out-up.mui-leave, .slide-out-left.mui-leave, .fade-in.mui-enter, .fade-out.mui-leave, .hinge-in-from-top.mui-enter, .hinge-in-from-right.mui-enter, .hinge-in-from-bottom.mui-enter, .hinge-in-from-left.mui-enter, .hinge-in-from-middle-x.mui-enter, .hinge-in-from-middle-y.mui-enter, .hinge-out-from-top.mui-leave, .hinge-out-from-right.mui-leave, .hinge-out-from-bottom.mui-leave, .hinge-out-from-left.mui-leave, .hinge-out-from-middle-x.mui-leave, .hinge-out-from-middle-y.mui-leave, .scale-in-up.mui-enter, .scale-in-down.mui-enter, .scale-out-up.mui-leave, .scale-out-down.mui-leave, .spin-in.mui-enter, .spin-out.mui-leave, .spin-in-ccw.mui-enter, .spin-out-ccw.mui-leave {
      transition-duration: 500ms;
      transition-timing-function: linear; }
    
    .slide-in-down.mui-enter {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
      transition-property: -webkit-transform, opacity;
      transition-property: transform, opacity;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden; }
    
    .slide-in-down.mui-enter.mui-enter-active {
      -webkit-transform: translateY(0);
              transform: translateY(0); }
    
    .slide-in-left.mui-enter {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
      transition-property: -webkit-transform, opacity;
      transition-property: transform, opacity;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden; }
    
    .slide-in-left.mui-enter.mui-enter-active {
      -webkit-transform: translateX(0);
              transform: translateX(0); }
    
    .slide-in-up.mui-enter {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
      transition-property: -webkit-transform, opacity;
      transition-property: transform, opacity;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden; }
    
    .slide-in-up.mui-enter.mui-enter-active {
      -webkit-transform: translateY(0);
              transform: translateY(0); }
    
    .slide-in-right.mui-enter {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      transition-property: -webkit-transform, opacity;
      transition-property: transform, opacity;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden; }
    
    .slide-in-right.mui-enter.mui-enter-active {
      -webkit-transform: translateX(0);
              transform: translateX(0); }
    
    .slide-out-down.mui-leave {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      transition-property: -webkit-transform, opacity;
      transition-property: transform, opacity;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden; }
    
    .slide-out-down.mui-leave.mui-leave-active {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%); }
    
    .slide-out-right.mui-leave {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      transition-property: -webkit-transform, opacity;
      transition-property: transform, opacity;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden; }
    
    .slide-out-right.mui-leave.mui-leave-active {
      -webkit-transform: translateX(100%);
              transform: translateX(100%); }
    
    .slide-out-up.mui-leave {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      transition-property: -webkit-transform, opacity;
      transition-property: transform, opacity;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden; }
    
    .slide-out-up.mui-leave.mui-leave-active {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%); }
    
    .slide-out-left.mui-leave {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      transition-property: -webkit-transform, opacity;
      transition-property: transform, opacity;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden; }
    
    .slide-out-left.mui-leave.mui-leave-active {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%); }


.column > h5 {
  text-align: center;
}
.column > p {
  text-align: center;
}